@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  button,
  a {
    cursor: pointer;
  }

  .hero {
    line-height: 69px;
  }
}

:root {
  --background: transparent;
  --foreground: #003092;

  --card: #fff2db;
  --card-foreground: #003092;

  --popover: #fff2db;
  --popover-foreground: #003092;

  --primary: #003092;
  --primary-foreground: #fff2db;

  --secondary: #00879e;
  --secondary-foreground: #fff2db;

  --muted: #feeac2; /* lighter cream */
  --muted-foreground: #1854c4; /* lighter blue */

  --accent: #ffab5b;
  --accent-foreground: #003092;

  --destructive: #e11d48;
  --destructive-foreground: #fff2db;

  --border: #003092;
  --input: #003092;
  --ring: #ffab5b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--accent);
}
